h1 {
    color: green;
    font-size: 30pt;
    text-shadow: 5px 2px 4px grey;
 }
body {
    background-color:lightcyan;
}

ul{
    list-style-type: circle;
 }
 ol{
    list-style-type: lower-alpha;}

ul{font-style: italic;
 }

ol{font-style:oblique;}

p{
    text-decoration: underline;
 }